<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>$title</title>
	</head>
	<body>
		<table>
			<tr>
				<td colspan="2">
					<h3>$title</h3>
				</td>
			</tr>
			<tr>
				<td width="80%">
					<p>$body</p>
				</td>
				<td width="20%">
					<p>$login</p>
				</td>
			</tr>
		</table>
		<hr/>
		<p style="font-size: x-small; text-align: center;">
			bei problemen oder fragen ungeniert ein e-mail an "patrick (at) moor (punkt) ws" schreiben.
		</p>
	</body>
</html>
