<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>$title</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	</head>
	<body>
		<table>
			<tr>
				<td colspan="2">
					<h3>$title</h3>
				</td>
			</tr>
			<tr>
				<td style="width: 80%;">
<!-- body component -->
$body
<!-- /body component -->
				</td>
				<td style="width: 20%;">
<!-- login component -->
$login
<!-- /login component -->
				</td>
			</tr>
		</table>
		<hr/>
		<p style="font-size: x-small; text-align: center;">
			bei problemen oder fragen ungeniert ein e-mail an "patrick (at) moor (punkt) ws" schreiben.
		</p>
	</body>
</html>
